@import 'src/custom.scss';

.main_block {
  min-height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
  box-sizing: border-box;
}


.information_block {
  width: 400px;
  margin: 0 50px;

  p {
    font-size: 2rem;
    color: $deep-blue;
  }

  li {
    margin: 10px;
    font-size: 1.2rem;
  }

  ol {
    padding: 0;
  }
}


.choose_block {
  width: 400px;
  margin: 0 50px;
}


th,
td {
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
}

th {
  padding-top: 0;
  height: 60px;
  border-bottom: 2px rgb(209, 209, 209) solid;
}

.submit_button {
  margin-top: 20px;
  margin-left: calc(50% - 32px);
}

.logout_button, .update_button{
    margin-top: 20px;
}

.title {
  font-size: 2rem;
  color: $deep-blue;
  width: 250px;
}

.willing_content {
  font-size: 1.2rem;
  margin-bottom: 50px;
  margin-top: 10px;
  width: 100%;
}

@media screen and (max-width: 800px) {
    .student_block{
        width: 400px;
    }
}