<div class="login_block">
  <p class="login_title">身分認證</p>
  <form [formGroup]="login_info">
    <mat-form-field class="login_input">
      <mat-label>學生姓名</mat-label>
      <input matInput type="text" formControlName="student_name">
    </mat-form-field>
    <mat-form-field class="login_input">
      <mat-label>學生准考證</mat-label>
      <input matInput type="text" formControlName="student_id">
    </mat-form-field>
    <button class="submit_button" mat-stroked-button color="primary" (click)="login_submit()">提交</button>
  </form>
</div>