@import 'src/custom.scss';

.create_student_block {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2rem;
    color: $deep-blue;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-form-field {
      margin: 10px;
    }

    .submit_button {
      width: 100px;
      margin-top: 20px;
    }
  }
}
