@import 'src/custom.scss';

.manage_student {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
  height: calc(100% - 80px);
  width: 100%;
  box-sizing: border-box;
}

.create_student_block,
.delete_student_block {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.student_table_block {
  width: 750px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    min-width: 120px;
    vertical-align: middle;
    text-align: center;
    color: #858585;
    font-size: large;
    white-space: nowrap;
  }

  th.mat-header-cell {
    color: $deep-blue;
    font-weight: bold;
  }

  .mat-column-Email {
    min-width: 200px !important;
    white-space: pre-wrap !important;
  }
}

p {
  font-size: 2rem;
  color: $deep-blue;
  margin: 0 0 20px 0;
}

.mat-form-field {
  margin: 10px;
}

.submit_button {
  width: 100px;
  margin-top: 20px;
}